<div class="d-flex">
  <div class="left-panel">
    <p>We have <%= @avengers.count %> avengers</p>
    <% @avengers.each do | avenger | %>
    <p>id= <%= avenger.id  %>, name=<%= avenger.id  %></p>
    <% end %>
  </div>




  <div class="map-container">
    <div id="map"
        style="width: 100%; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>