

    <div class="w-100 p-5">
      <%= link_to 'Back', avengers_path, class:'btn-grey' %>

      <div class="showcard mt-4">
        <div>
          <%= image_tag 'Chris_Evans.jpeg', class: 'avenger-pic' %>
        </div>
        <div class="p-4 h-100 d-flex flex-column justify-content-between w-100">
          <div class="justify-content-between w-100">
            <% if @avenger_owner  %>
              <div class="d-flex flex-row-reverse">
                <button type="button" class="btn-grey" data-toggle="modal" data-target="#editAvenger">Edit Me</button>
                <%= link_to 'Delete', avenger_path(@avenger), method: :delete, class:'btn-grey' %>
              </div>
            <% end %>
            <div>
              <h2><%= @avenger.name %> <span class="showcard-location"><%= @avenger.location %><i class="fas fa-map-marker-alt"></i></span></h2>
              <p class="desc"><%= @avenger.description %></p>
            </div>
          </div>
          <div class="d-flex align-items-end justify-content-end w-100">
            <p class="mr-3"><%= @avenger.price %></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn-red" data-toggle="modal" data-target="#exampleModalCenter">Book Me</button>
          </div>
        </div>
      </div>
    </div>

<!-- Booking Modal START -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@avenger, @booking] do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :location %>
            <%= f.input :start_time, as: :datetime, html5: true%>
            <%= f.input :end_time, as: :datetime, html5: true%>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create Booking", class: 'btn-red' %>
          <button type="button" class="btn-grey" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Booking Modal END -->

<!-- Edit Avenger Modal START -->
<div class="modal fade" id="editAvenger" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit this Avenger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @avenger do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit Changes", class: 'btn-red' %>
          <button type="button" class="btn-grey" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Edit Avenger Modal END -->