<h1> <%= @avenger.name %> </h1>

<%= link_to "Book Me", new_avenger_booking_path(@avenger) %>

<div class="container">
  <div class="row">
    <div class=class="row justify-content-center">
  <div class="cards">
    <div class="card-category">

      <%= @avenger.name %>
      <%= @avenger.description %>
      <%= @avenger.price %>
    </div>
    </div>
    <%= link_to 'Back', avengers_path %>
    <%= link_to 'Delete', avenger_path(@avenger) %>
    <%= link_to 'Edit', edit_avenger_path(@avenger) %>
  </div>
</div>
</div>
