<h1> <%= @avenger.name %> </h1>

<%= link_to "Book Me", new_avenger_booking_path(@avenger) %>
<div cass="container">
  <div class="row">
    <div class=class="row justify-content-center">
  <div class="cards">
    <div class="card-category">
      <%= avengers.each do |avenger| %>
      <%= avenger.name %>
      <%= avenger.description %>
      <% avenger.price %>
      <% end %>
    </div>
    <% link_to ‘back’, avengers_path %>
    <% link_to ‘delete’, avenger_path(@avenger) %>
    <% link_to ‘edit’, edit_avenger_path(@avenger) %>
  </div>
</div>
</div>
</div>
