<!-- Avenger Show Card START -->
<div class="w-100 p-5">
  <%= link_to 'Back', avengers_path, class:'btn-grey' %>

  <div class="showcard mt-4">
    <div>
      <% if @avenger.photo.attached? %>
      <%= cl_image_tag @avenger.photo.key, height: 300, width: 400, crop: :fill, class: 'avenger-pic'%>
      <% end %>
    </div>
    <div class="p-4 h-100 d-flex flex-column justify-content-between w-100">
      <div class="justify-content-between w-100">
        <% if @avenger_owner  %>
          <div class="d-flex flex-row-reverse">
            <div class="dropdown">
              <button class="btn btn-secondary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button type="button" data-toggle="modal" data-target="#editAvenger">Edit Me</button>
                <div>
                  <%= link_to 'Delete', avenger_path(@avenger), method: :delete %>
                </div>
              </div>
            </div>

          </div>
        <% end %>
        <div>
          <h2><%= @avenger.name %> <span class="showcard-location"><%= @avenger.location %><i class="fas fa-map-marker-alt"></i></span></h2>
          <p class="desc"><%= @avenger.description %></p>
        </div>
      </div>
      <div class="d-flex align-items-end justify-content-end w-100">
        <p class="mr-3">£<%= @avenger.price %> per hour</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn-red" data-toggle="modal" data-target="#leaveReview">Create Review</button>
        <button type="button" class="btn-red" data-toggle="modal" data-target="#exampleModalCenter">Book Me</button>
      </div>
    </div>
  </div>
</div>
<!-- Avenger Show Card  -->

<!-- Review Card START -->
    <div class="p-4 w-100 container">
        
          <div class="row">
          <% @reviews.each do |review| %>
            <div class="review-card d-flex flex-column justify-content-between p-4 col-6" data-aos="zoom-in">
              <div>
                <div class="d-flex justify-content-between"> 
                  <h4><%=review.title %></h4>
                  <div class="d-flex">
                  <% 5.times do |index| %>
                    <i class="fas fa-star <%= index <= review.rating ? 'text-warning': 'text-muted' %>"></i> 
                  <% end %>
                </div>  
                </div>
                <p><%=review.content %></p>
                
              </div>
              <% if user_signed_in? && review.user == current_user %>
                <div class="w-100 justify-content-end d-flex">
                  <%= link_to "Remove", review_path(review), method: :delete, class:'btn-grey' %>
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        
      </div>
<!-- Review Card-->

<!-- Booking Modal START -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@avenger, @booking], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :start_time, as: :datetime, html5: true%>
            <%= f.input :end_time, as: :datetime, html5: true%>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create Booking", class: 'btn-red' %>
          <button type="button" class="btn-grey" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Booking Modal -->

<!-- Edit Avenger Modal START -->
<div class="modal fade" id="editAvenger" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit this Avenger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@avenger], remote: true do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="modal-body">
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :price %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit Changes", class: 'btn-red' %>
          <button type="button" class="btn-grey" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Edit Avenger Modal -->

<!-- Review Modal START -->
<div class="modal fade" id="leaveReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit this Avenger</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@avenger, @review], remote: true do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :rating, collection: 1..5 %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Create Review", class: 'btn-red' %>
          <button type="button" class="btn-grey" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Review Modal -->