<h1> <%= @avenger.name %> </h1>

<%= link_to "Book Me", new_avenger_booking_path(@avenger) %>
<div cass="container">
    <div class="row justify-content-center">
  <div class="cards">
    <div class="card-category">
      <%= @avengers.each do |avenger| %>
      <p><%= @avenger.name %></p>
      <p><%= @avenger.description %></p>
      <p><%= @avenger.price %></p>
      <% end %>
    </div>
  </div>
</div>
</div>
