<div class="container py-2">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
          <h3>Create a Booking</h3>
      <%= simple_form_for [@avenger, @booking], method: :post, url: avenger_bookings_path(@avenger) do |f| %>
        <div class="form-inputs">
          <%= f.association :user %>
          <%= f.association :avenger %>
          <%= f.input :location %>
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          <%= f.submit "Create Booking", class: "btn btn-success" %>
        </div>
      <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

