<div class="navbar">
  <%= link_to "/", class: 'navbar-logo' do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <!-- search bar in navbar START-->
  <div >
    <%= form_tag avengers_path, method: :get, class: "navbar-search" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search"
      %>
    <% end %>
  </div>
<!-- search bar in navbar END -->

  <div class ="navbar-container">
    <div class="d-flex align-items-center">
      <%= link_to "Our Avengers", avengers_path, class: "nav-avenger" %>
      <% if user_signed_in? %>
       <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-log" %>
        <%= link_to my_account_path, class: "avatar" do %>
          <img alt="Chloe Balanche" class="navbar-avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1619968189/kjpxyr85dbcktwhwld4q.jpg">
        <% end %>
      <% else %>
        <%= link_to 'Login', new_user_session_path, class: "nav-log" %>
      <% end %>
    </div>
  </div>
</div>




